{
  "extends": ["react-app", "react-app/jest"],
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "rules": {
    "no-unused-vars": "off",
    "linebreak-style": "off", // "no-console": "warn",
    // "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "prefer-const": "warn",
    "max-len": ["warn", { "code": 200 }],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}
